.ContentWrapper {
	border:0 solid #000000;
	padding:10px 0 0 0px;
	width:902px;
}

.lefttbox {
	float:left;
	width:175px;
	height: 126px;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 0;
}
.projtitle {
	font-weight: bold;
}
.prjIcon {
	height: 126px;
	width: 175px;
}
